@import "./utils/variables";
@import "./base/typography";
@import "./utils/mixins";
a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}


/* Header */

.heading {
    text-align: center;
    &__top {
        margin: 15px auto;
        img {
            font-size: 1em;
        }
    }
    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        height: 45px;
        i {
            margin: 0;
        }
        p {
            color: black;
            font-weight: bold;
            font-size: 1em;
            margin-left: 1em;
        }
    }
    &__content {
        background-color: rgba(211, 211, 211, 0.493);
        padding-bottom: 2em;
        h1 {
            font-size: 1.8em;
            font-weight: bold;
            padding: 0.8em 1em 0.8em 1em;
            margin: 0;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 2em;
        }
        .btn {
            color: #fff;
            font-weight: 600;
            font-size: 1em;
            background: linear-gradient(180deg, $color_sec, $color_pri);
            border-radius: 30px;
            border: none;
            width: 205px;
            height: 50px;
            cursor: pointer;
            box-shadow: $shadow;
        }
    }
}


/* Fonctionnement */

.fonc {
    &__title {
        @include title;
    }
    &__bloc {
        display: flex;
        flex-direction: column;
    }
    &__element {
        display: flex;
        align-items: center;
        color: black;
        height: 75px;
        width: 90%;
        background-color: rgba(128, 128, 128, 0.123);
        border-radius: 30px;
        margin: 0 auto;
        margin-bottom: 2em;
        &__number {
            display: flex;
            height: 22px;
            font-size: 0.8em;
            width: 22px;
            color: #fff;
            background-color: $color_pri;
            border-radius: 50%;
            padding-right: 1;
            align-items: center;
            justify-content: center;
            align-content: center;
            margin-top: 0.2em;
        }
        &__icon {
            height: 16px;
            width: 16px;
            color: gray;
            margin: 0 2em;
        }
        &__subtitle {
            font-weight: bold;
        }
    }
}


/* Restaurant */

.restaurant {
    background-color: lightgray;
    padding-bottom: 1em;
    &__title {
        @include title;
        padding-top: 2em;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__card {
            display: flex;
            flex-direction: column;
            width: 90%;
            background-color: #fff;
            border-bottom: 20px;
            margin-bottom: 1.5em;
            border-radius: 15px;
            box-shadow: $shadow;
            &__pic {
                height: 180px;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            &__title {
                font-size: 1.05em;
                margin: 0.6em 0;
                color: black;
                padding-left: 1em;
            }
            &__subtitle {
                margin-top: 0;
                margin-bottom: 0.5em;
                color: black;
                padding-left: 1em;
            }
        }
    }
}

.footer_main {
    background-color: rgb(70, 68, 68);
    padding-top: 0.5em;
    padding-bottom: 1em;
    h4 {
        font-size: 1.1em;
        padding-left: 18px;
        color: #fff;
        font-family: "shrikhand";
        margin-top: 1em;
    }
    ul {
        padding-left: 18px;
        margin: 0;
    }
    i,
    a {
        color: #fff;
    }
    li {
        margin-bottom: 0.3em;
    }
    &__link1 {
        margin-left: 1em;
        font-weight: bold;
    }
    &__link2 {
        margin-left: 0.55em;
        font-weight: bold;
    }
}