@import "./utils/variables";
@import "./base/typography";
.heading {
    text-align: center;
    &__top {
        display: flex;
        justify-content: center;
        margin: 10px auto;
        &__pic {
            font-size: 1em;
        }
    }
    &__loc {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
    }
}