@import "./utils/variables";
@import "./base/typography";
@import "./utils/mixins";
a {
    text-decoration: none;
}


/* Header */

.heading {
    text-align: center;
    &__top {
        margin: 15px auto;
        img {
            font-size: 1em;
        }
    }
    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        height: 45px;
        i {
            margin: 0;
        }
        p {
            color: black;
            font-weight: bold;
            font-size: 1em;
            margin-left: 1em;
        }
    }
    &__content {
        background-color: rgba(211, 211, 211, 0.493);
        padding-bottom: 2em;
        h1 {
            font-size: 1.8em;
            font-weight: bold;
            padding: 0.8em 1em 0.8em 1em;
            margin: 0;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 2em;
        }
        .btn {
            color: #fff;
            font-weight: 600;
            font-size: 1em;
            background: linear-gradient(180deg, $color_sec, $color_pri);
            border-radius: 30px;
            border: none;
            width: 205px;
            height: 50px;
            cursor: pointer;
        }
    }
}


/* Fonctionnement */

.fonc {
    &__title {
        @include title;
    }
    &__bloc {
        display: flex;
        flex-direction: column;
    }
    &__element {
        display: flex;
        align-items: center;
        color: black;
        height: 75px;
        width: 90%;
        background-color: rgba(128, 128, 128, 0.123);
        border-radius: 30px;
        margin: 0 auto;
        margin-bottom: 2em;
        &__icon {
            height: 16px;
            width: 16px;
            color: gray;
            margin: 0 2em;
        }
        &__subtitle {
            font-weight: bold;
        }
    }
}


/* Restaurant */

.restaurant {
    background-color: lightgray;
    &__title {
        @include title;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__card {
            display: flex;
            flex-direction: column;
            width: 95%;
            background-color: #fff;
            border-bottom: 20px;
            margin-bottom: 1em;
            &__pic {
                height: 250px;
                width: 100%;
            }
        }
    }
}