/* Color Primaire / Secondaire / Tertiaire */
/* Box Shadow*/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

/* Mixin title h2 main page */
a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

body {
  margin: 0;
}

/* Header */
.heading {
  text-align: center;
}
.heading__top {
  margin: 0.8em auto;
}
.heading__top img {
  font-size: 1em;
}
.heading__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 45px;
  border-top: 3px solid gray;
}
.heading__search i {
  margin: 0;
}
.heading__search p {
  color: black;
  font-weight: bold;
  font-size: 1em;
  margin-left: 1em;
}
.heading__content {
  background-color: rgba(240, 235, 235, 0.651);
  padding-bottom: 2.5em;
}
.heading__content h1 {
  font-size: 1.7em;
  font-weight: bold;
  padding: 1em 1em 0.5em 1em;
  margin: 0;
}
.heading__content h3 {
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: 300;
}

.btn {
  color: #fff;
  font-weight: 300;
  font-size: 1em;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  width: 205px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Fonctionnement */
.fonc__title {
  font-size: 1.4em;
  padding-left: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  margin: 0;
}
.fonc__bloc {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
.fonc__element {
  display: flex;
  align-items: center;
  color: black;
  height: 75px;
  width: 90%;
  background-color: rgba(128, 128, 128, 0.123);
  border-radius: 30px;
  box-shadow: 0px 0px 14px 0px #00000036;
  margin: 0 auto;
  margin-bottom: 2em;
  position: relative;
}
.fonc__element__number {
  display: flex;
  height: 23px;
  font-size: 0.8em;
  width: 23px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 0.2em;
  position: absolute;
  left: -12px;
}
.fonc__element__icon {
  height: 16px;
  width: 16px;
  color: gray;
  margin-left: 1.9em;
  margin-right: 1.2em;
}
.fonc__element__subtitle {
  font-weight: bold;
}

/* Restaurant */
.rest_new {
  position: absolute;
  top: 11px;
  right: 11px;
  background-color: #99E2D0;
  padding: 7px;
  color: #0e880e;
  border-radius: 5px;
}

.rest_heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.45em;
  color: black;
}

.restaurant {
  background-color: rgba(211, 211, 211, 0.493);
  padding-bottom: 1em;
}
.restaurant__title {
  font-size: 1.4em;
  padding-left: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  margin: 0;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant__container__card {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #fff;
  border-bottom: 20px;
  margin-bottom: 1.5em;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.restaurant__container__card__pic {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__container__card__title {
  font-size: 1.05em;
  margin-top: 0.8em;
  color: black;
  padding-left: 1em;
  padding-bottom: 0.2em;
}
.restaurant__container__card__subtitle {
  margin-top: 0;
  margin-bottom: 0.8em;
  color: black;
  padding-left: 1em;
  font-weight: 300;
}

.footer_main {
  background-color: #333131;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.footer_main h4 {
  font-size: 1.1em;
  padding-left: 18px;
  color: #fff;
  font-family: "shrikhand";
  margin-top: 1em;
  font-weight: 300;
}
.footer_main ul {
  padding-left: 18px;
  margin: 0;
}
.footer_main i,
.footer_main a {
  color: #fff;
}
.footer_main li {
  margin-bottom: 0.3em;
}
.footer_main__link1 {
  margin-left: 1em;
  font-weight: 500;
}
.footer_main__link2 {
  margin-left: 0.55em;
  font-weight: 500;
}

/* 2nd Partie */
.head_rest {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}
.head_rest .return_page {
  color: gray;
  font-size: 1.5em;
  margin-left: 0.5em;
}
.head_rest .logo_header {
  margin: 0 auto;
  padding-right: 0.5em;
}

.home_pic .img_main {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.menu {
  background-color: #f3f0f0;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding-bottom: 2em;
  transform: translateY(-50px);
  margin-bottom: -50px;
}
.menu__header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
}
.menu__header__title {
  font-family: "shrikhand";
  font-size: 1.7em;
}
.menu__header i {
  font-size: 1.5em;
}
.menu__container__title {
  margin-left: 1.5em;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 10%;
}
.menu__container__element {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75px;
  width: 90%;
  background-color: #fff;
  border-radius: 20px;
  margin: 1.5em auto;
}
.menu__container__element__title {
  margin-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.menu__container__element .subtitle_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 0.9em;
}
.menu__container__element .subtitle_price p {
  margin: 0;
  overflow: hidden;
}
.menu .container_btn {
  margin: 3em 0;
}
.menu__btn {
  display: flex;
  margin: 0.5em auto;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
