/* Color Primaire / Secondaire / Tertiaire */
/* Box Shadow*/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

/* Mixin title h2 main page */
a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

body {
  margin: 0;
}

.bloc_page {
  position: relative;
  animation: opacityhome 2s linear;
}

.bloc_loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: rotation 2s linear both;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #9356DC;
  border-right: 4px solid transparent;
  box-sizing: border-box;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-bottom: 4px solid #FF79DA;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -100;
  }
}
@keyframes opacityhome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Header */
.heading {
  text-align: center;
}
.heading__top {
  margin: 0.8em auto;
}
.heading__top img {
  font-size: 1em;
}
.heading__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecebeb;
  height: 45px;
  border-top: 3px solid #c8c8c8;
}
.heading__search i {
  margin: 0;
  color: #232222;
}
.heading__search p {
  color: #232222;
  font-weight: 500;
  font-size: 1em;
  margin-left: 1em;
}
.heading__content {
  background-color: rgba(240, 235, 235, 0.651);
  padding-bottom: 2.5em;
}
.heading__content h1 {
  font-size: 1.7em;
  font-weight: bold;
  padding: 1em 1em 0.5em 1em;
  margin: 0;
}
.heading__content h3 {
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: 300;
  color: #232222;
}

.btn {
  color: #fff;
  font-weight: 300;
  font-size: 1em;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  width: 205px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  animation: btnmain 0.9s both;
}

@keyframes btnmain {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px black;
  }
}
/* Fonctionnement */
.icon3 {
  color: #9356DC;
}

.fonc__title {
  font-size: 1.4em;
  padding-left: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  margin: 0;
}
.fonc__bloc {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
.fonc__element {
  display: flex;
  align-items: center;
  color: black;
  height: 75px;
  width: 85%;
  background-color: rgba(128, 128, 128, 0.123);
  border-radius: 30px;
  box-shadow: 0px 0px 14px 0px #00000036;
  margin: 0 auto;
  margin-bottom: 2em;
  position: relative;
}
.fonc__element:nth-child(3) {
  background-color: rgba(156, 51, 251, 0.12);
}
.fonc__element__number {
  display: flex;
  height: 23px;
  font-size: 0.8em;
  width: 23px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 0.2em;
  position: absolute;
  left: -12px;
}
.fonc__element__icon {
  height: 16px;
  width: 16px;
  margin-left: 1.9em;
  margin-right: 1.2em;
}
.fonc__element__icon .icor {
  color: gray;
}
.fonc__element__icon .icor3 {
  color: #9356DC;
}
.fonc__element__subtitle {
  font-weight: bold;
}

/* Coeur */
.coeur {
  position: absolute;
  bottom: 22px;
  right: 20px;
  font-size: 1.5em;
  color: black;
}

.empty {
  opacity: 1;
}
.empty:hover {
  opacity: 0;
  color: transparent;
}

.full {
  opacity: 0;
  font-size: 1.5em;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.full:hover {
  animation: progress-heart 0.8s both;
}

@keyframes progress-heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Restaurant */
.rest_new {
  position: absolute;
  top: 11px;
  right: 11px;
  background-color: #99E2D0;
  padding: 7px;
  color: #227b45;
  border-radius: 5px;
}

.restaurant {
  background-color: rgba(211, 211, 211, 0.493);
  padding-bottom: 1em;
}
.restaurant__title {
  font-size: 1.4em;
  padding-left: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  margin: 0;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant__container__card {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #fff;
  border-bottom: 20px;
  margin-bottom: 1.5em;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.restaurant__container__card__pic {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__container__card__title {
  font-size: 1.05em;
  margin-top: 0.8em;
  color: black;
  padding-left: 1em;
  padding-bottom: 0.2em;
}
.restaurant__container__card__subtitle {
  margin-top: 0;
  margin-bottom: 0.8em;
  color: black;
  padding-left: 1em;
  font-weight: 300;
}

.footer_main {
  background-color: #383737;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.footer_main h4 {
  font-size: 1.1em;
  padding-left: 18px;
  color: #fff;
  font-family: "shrikhand";
  margin-top: 1em;
  font-weight: 300;
}
.footer_main ul {
  padding-left: 18px;
  margin: 0;
}
.footer_main i,
.footer_main a {
  color: #fff;
}
.footer_main li {
  margin-bottom: 0.3em;
}
.footer_main__link1 {
  margin-left: 1em;
  font-weight: 500;
}
.footer_main__link2 {
  margin-left: 0.55em;
  font-weight: 500;
}

/* 2nd Partie */
.test {
  display: flex;
}
.test .empty {
  position: absolute;
}

.head_rest {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}
.head_rest .return_page {
  color: gray;
  font-size: 1.5em;
  margin-left: 0.5em;
}
.head_rest .logo_header {
  margin: 0 auto;
  padding-right: 0.5em;
}

.home_pic .img_main {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.valid_box {
  display: none;
  overflow: hidden;
  display: flex;
  position: absolute;
  right: -60px;
  height: 100%;
  width: 60px;
  z-index: -10;
  color: white;
  background: #99E2D0;
}
.valid_box i {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin: 0 auto;
}

.menu__container__element:hover .price,
.menu__container__element:hover .valid_box {
  animation: slide-left 1.2s both;
}
.menu__container__element:hover i {
  animation: rotate 1s both;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
}
.menu {
  background-color: #f3f0f0;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding-bottom: 2em;
  transform: translateY(-50px);
  margin-bottom: -50px;
}
.menu__header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
}
.menu__header__title {
  font-family: "shrikhand";
  font-size: 1.7em;
}
.menu__header i {
  font-size: 1.5em;
}
.menu__container__title {
  margin-left: 1.5em;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 2.2em;
  font-weight: 300;
}
.menu__container__element {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75px;
  width: 90%;
  background-color: #fff;
  border-radius: 20px;
  margin: 1.5em auto;
  animation: apparition 0.7s ease-in-out both;
}
.menu__container__element__title {
  margin-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.menu__container__element .subtitle_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 0.9em;
}
.menu__container__element .subtitle_price p {
  margin: 0;
  font-weight: 300;
}
.menu__container .d1 {
  animation-delay: 0.1s;
}
.menu__container .d2 {
  animation-delay: 0.2s;
}
.menu__container .d3 {
  animation-delay: 0.3s;
}
.menu__container .d4 {
  animation-delay: 0.4s;
}
.menu__container .d5 {
  animation-delay: 0.5s;
}
.menu__container .d6 {
  animation-delay: 0.6s;
}
.menu__container .d7 {
  animation-delay: 0.7s;
}
.menu__container .d8 {
  animation-delay: 0.8s;
}
.menu__container .d9 {
  animation-delay: 0.9s;
}
.menu__container .d10 {
  animation-delay: 1s;
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu .container_btn {
  margin: 3em 0;
}
.menu__btn {
  display: flex;
  margin: 0.5em auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1100px) {
  .fonc__bloc {
    flex-direction: row;
  }

  .fonc__element {
    width: 30%;
  }

  .restaurant__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .restaurant__container__card {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.05em;
  }

  .menu_container_block {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
  }

  .menu__container__element {
    width: 350px;
    overflow: hidden;
    cursor: pointer;
  }

  .menu__container__title {
    margin-left: 0.2em;
  }

  .test {
    padding-left: 3em;
    cursor: pointer;
  }

  .menu__header {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
